<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.order.modular.mapper.RocketmqTransactionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.roses.order.modular.entity.RocketmqTransactionLog">
        <id column="id" property="id"/>
        <result column="transaction_id" property="transactionId"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", transaction_id AS "transactionId", remark AS "remark"
    </sql>

</mapper>
